body{
    background:rgb(188, 216, 228);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#calculator{

    width: 350px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;  
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);    
}
.main_container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/* 
table{
    height: 85px;
    width: 350px;
  
    background-color: darkcyan;
} */

.display{
    border: 2px solid;
    border-color: cadetblue;
    background-color: cadetblue;
    border-radius: 5px;
    height: 85px;
    width: 350px;
}
.displayScreen{
    font-size: 35px;
    font-weight: 100;
    text-align: right;
  }

.screen{
    width:340px;
    height: 85px;
    background-color: cadetblue;
    text-align: right;
    font-size: 50px;
    border: none;
    pointer-events: none;  
    
}
.advance_functions{
    border: 2px solid;
    border-color: #ccc;
    border-radius: 1px;
    height: 15px;
    width: 350px;
}

.basic_functions{
    border: 2px solid;
    border-color: #ccc;
    border-radius: 1px;
    height: 380px;
    width: 350px;
}

.basic_function{

    display: flex;
    width: 500px;
    flex-wrap:wrap;
    margin-top:40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
 
  button {
    padding: 15px;
    font-size: 16px;
    height : 60px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #454040;
  }
  
  #calculate {
    grid-column: span 2;
  }
  
  #equal{
    background-color: #5555ff;
    color: white;
    width: 170px;
  }

  #zero{
    width: 170px;
  }

  .buttons.operation1{
    background-color: cadetblue;
  }
  .buttons.operation{
    background-color: #5555ff;
  }
