body{
    background:rgb(188, 216, 228);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#calculator{

    width: 350px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;      
}
.main_container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

table{
    height: 85px;
    width: 350px;

    background-color: darkcyan;
}

.display{
    border: 2px solid;
    border-color: cadetblue;
    background-color: cadetblue;
    border-radius: 5px;
    height: 85px;
    width: 350px;
}

.advance_functions{
    border: 2px solid;
    border-color: #ccc;
    border-radius: 1px;
    height: 15px;
    width: 350px;
}

.basic_functions{
    border: 2px solid;
    border-color: #ccc;
    border-radius: 1px;
    height: 380px;
    width: 350px;
}

.basic_function{

    display: flex;
    width: 500px;
    flex-wrap:wrap;
    margin-top:40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
  button {
    padding: 15px;
    font-size: 16px;
    height : 60px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  #calculate {
    grid-column: span 2;
  }
  .operation1{
    background-color: darkcyan;
  }