body {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    justify-content: flex-end;
    text-align: end;
    font-size: 3em;
}

table {
    border-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}

tr {
    width: 100%;    
}

td {
    text-align: center;
    width: 25%;
    font-size: 2em;
    height: 75px;
    max-height: 100px;
    max-width: 100px;
}

td:hover {
    cursor: pointer;
}

.number {
    background-color: darkgray;
    color: black;
}

.basicOperator {
    background-color: orange;
    color: white;
}

.advancedOperator {
    background-color: rgb(65, 65, 65);
}

.resultDisplay {
    display: flex;
    flex-direction: column;
}

#previousOperation {
    display: flex;
    flex: 0.2;
    justify-content: end;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 10px;
    margin-block: 0px;
}

#result {
    display: flex;
    flex: 1;
    border: 0px solid white;
    background-color: black;
    color: white;
    text-align: end;
    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 10px;
}

#pi, #euler {
    background-color: rgb(65, 65, 65);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
}
*/

textarea:focus, input:focus{
    outline: none;
}
