#calculator {
    font-family: quicksand;
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
  }
  
  #display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: pink;
    color: orchid;
  }
  
  #keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
  }
  
  button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: pink;
    cursor: pointer;
    font-size: 18px;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button:hover {
    background-color: #DA70D6;
  }
  button:active {
    background-color:	#FF10F0;
  }